<h2 style="text-align: center; font-weight: bold;">
  My Images
</h2>
	
  <div class="form-flex-container">       
    <div style="margin:0px auto">
        <form action='/search' method="get">
             <input class="search-box" type="text" name="search" required>
             <input class="search-submit-btn" type="submit" value="Search" >
        </form>
     </div>
  </div>

  <div class="container">
    <div *ngFor="let image of images" style="margin-top: 2%">
      <image [data]="image"></image>
    </div>
  </div>


